# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server (Preview) and MongoDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

#-------------------------------------------------
# Nest internal port
SERVER_PORT=3000

#-------------------------------------------------
# Maximum JSON request body size (optional) default: 50mb
# LIMIT=50mb

#-------------------------------------------------
# Front end URL
URL_FRONT=http://localhost:3000

#-------------------------------------------------
# Instance mode (PROD, LOCAL)
MODE=LOCAL


#-------------------------------------------------
# Auth
SECRETKEY=__CHANGEME__
IMPERSONATE_SECRETKEY=__CHANGEME__
EXPIRESIN="1h"
# Code sent by email expire in 2 hours
ACTIVATION_EXPIRESIN=2

#-------------------------------------------------
# Redis
REDIS_SERVER=redis
REDIS_PORT=6379

#-------------------------------------------------
# Database
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DATABASE=app_db
POSTGRES_USER=app_user
POSTGRES_PASSWORD=root

#-------------------------------------------------
# Prisma
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DATABASE}?schema=public"
